.header {
    height: 4rem;
    align-items: center;
    background-color: white;
}

.navigation-bar {
    list-style: none;
    margin: 0;
}

.navigation-bar > li {
    display: inline-block;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--main-primary-color);
}

.navigation-bar > li > a {
    text-decoration: none;
}