:root {
  --main-primary-color: #071eb3;
  --main-secondary-color: #fd7e14;
  --main-dark-color: #161616;
  --main-white-color: #FFFFFF;
  --main-grey-color: #D3D3D3;
  --main-bg-color: ghostwhite;
}
